/*------------------------------*/
/*ESTILOS BASICOS*/
/*------------------------------*/
body{
  margin: 0;
  font-family: Arial;
}
*{
  margin: 0;
  padding: 0;
}
/*------------------------------*/
/*        ESTILOS MAIN-NAV      */
/*------------------------------*/
.contenedor_general{
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
}
.navegacion{
}
.main-nav .logo img{
  position: absolute;
  height: 5%;
  width: 5%;
  left: 5%;
  top: 5%;
}
.main-nav .menu{
  position: absolute;
  display: inline-block;
  right: 5%;
  top: 5%;
}
.main-nav .menu a{
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}
.form{
  outline: 1px solid black;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  height: 400px;
  top: 20%;
  text-align: center;
  width: 600px;
}
.title{
  color: #380B61;
  font-size: 25px;
}
.title p{
  font-size: 15px;
  font-weight: bold;
}
/*------------------------------*/
/*        ESTILOS HEROE         */
/*------------------------------*/
.hero-image{
  text-align: center;
  background-position: 50% 0;
  height: 50%;
  padding: 250px 0 0 0;
  color: #ffffff;
}

.video1 .right1 iframe{
  width: 80%;
  height: 600px;
  margin: 0 0 50px 0;
}
